*.class

# Package Files #
*.jar
*.war
*.ear

# we ignoring IDEA IDE files and directories. you can use your favorite IDE but be kind and add similar rules for this files

.idea/
*.iml
/target/